<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Login</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/loginStyle.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
		<link rel="stylesheet" media="screen" href="css/style.css"/>
		<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	</head>
	<body>
		<span th:if="${userRegistertionProblem}== no">
		<script th:inline="javascript">
		swal("Signed Up Successfully! Now You Can Sign In!!", {
			  icon: "success",
			  buttons:false,
			  timer:4000,
		});
		</script>
		
		</span>
		<span th:if="${passwordChanged}== 1">
		<script th:inline="javascript">
		swal("You have changed the  password Successfuly!", {
			  icon: "success",
			  buttons:false,
			  timer:4000,
		});
		window.location.replace('/kyd/logout');
		</script>
		</span>			
		<div id="particles-js">
		<script src="js/particles.js"></script>
		<script src="js/app.js"></script>
		<script src="js/lib/stats.js"></script>
		<script>
		  var count_particles, stats, update;
		  stats = new Stats;
		  stats.setMode(0);
		  stats.domElement.style.position = 'absolute';
		  stats.domElement.style.left = '0px';
		  stats.domElement.style.top = '0px';
		  document.body.appendChild(stats.domElement);
		  count_particles = document.querySelector('.js-count-particles');
		  update = function() {
			    stats.begin();
			    stats.end();
			   
			    requestAnimationFrame(update);
			  };
			  requestAnimationFrame(update);
		</script>	
		</div>
		<div class="container" style="margin-top:-35%;">
			<div class="row text-center my-5">
				<div class="col-sm-8"> <h1 style="margin: 0 auto; font-size: 100px; color: white;"> UM Now Shares Faster! </h1></div>
				
			<div class="col-lg-4 mx-5" >
			<div class="div-form" style="background: rgba(247,247,247,0.9); border-radius: 5%;" >
			
			<p class="p-iniciar" style="padding-top:10px; padding-bottom:10px;">Sign In!</p>
			<form th:action="@{/login}" method="POST" class="form-signin">
	           <div class="input-group">
				  <span class="input-group-addon" id="basic-addon1"><span class='glyphicon glyphicon-user'></span></span>
  				  <input type="text" id="matricula" name="matricula" class="form-control input-sm chat-input" placeholder="Matricula" size="40px"/>
			   </div><br/>
			   <div class="input-group">
				  <span class="input-group-addon" id="basic-addon1">@</span>
  				  <input type="password" id="password" name="password" class="form-control input-sm chat-input" placeholder="Password" />
			   </div><br/>
	           <div class="wrapper">
		           <div align="center" th:if="${param.error}">
					<p style="font-size: 20; color: #FF1C19;">Invalid Username or Password</p>
				</div> 
				
		           <span class="group-btn">     
		               <button class="btn btn-md btn-primary btn-block" name="Submit" value="Iniciar Sesión" type="Submit">Sign In</button>
		           </span>
		           <span class="group-btn">     
		               <h5 style="padding-top:10px; padding-bottom:10px;">Don't have an account?</h5>
		           </span>
	            </div>
	        </form>
	        <span class="group-btn">     
		               <a class="btn btn-md btn-primary btn-block" Method="GET" href="/kyd/registrar" >Sign Up!</a>
		    </span>
		</div>
		</div>
		</div>
		</div>
	</body>
</html>